html {
    height: 100%;
}
h1 {
    color: royalblue;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}
body {
    background-image: linear-gradient(to right, #FFFFFF, rgb(255, 122, 89));
}
body {
        font-family: 'Lato', sans-serif;
        font-size: larger
}